/* Override jQM text input width in login screen for "last initial". */
.ui-input-text-first-name {
  width: 60%;
}

.ui-input-text-last-initial {
  width: 10%;
}

.chat-line {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

mark {
  color: darkgray;
  background-color: inherit;
}
